{
	email support@email.com
}

# TODO: change localhost to your intended domain
localhost {
	reverse_proxy n8n:5678 {
		flush_interval -1
	}

	encode gzip

	header {
		# enable HSTS
		Strict-Transport-Security max-age=604800;

		# clickjacking protection
		X-Frame-Options SAMEORIGIN
	}
}
